<!DOCTYPE html>
<html ng-app="TradingApp">
<head>
  <title>AngularJS Web TradingApp</title>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="holder.js"></script>
  <script type="text/javascript" src="./tstapp.js"></script>
  <script type="text/javascript" src="./ng-controller-tapp.js"></script>
  <style>
  /*Additional styles*/
  .icon-refresh {
    cursor: pointer;
  }
  html {
    background-color: black;
  }

  body {
    background-color: black;
  }

  </style>
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          News
        </a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav pull-right">
          <li class="active">
            <button class="btn btn-primary" style="margin-top: 10px; margin-right: 20px;" data-toggle="modal" data-target="#myModal">Place Trade</button>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
  <div class="container" style="margin-top: 70px;">
    <ul class="media-list row" ng-controller="NewsListCtrl">
      <li class="media well" ng-repeat="newsitem in newsitems">
        <div class="col-md-8">
          <a class="pull-left" href="#">
            <!-- <img class="media-object" style="width: 64px; margin-right: 10px;" src="http://photos2.meetupstatic.com/photos/event/a/8/f/4/global_87583252.jpeg" alt="..."> -->
            <img class="media-object" style="width: 64px; margin-right: 10px;" src="icon-news.png" alt="...">
            
          </a>
          <div class="media-body">
            <h4 class="media-heading">{{newsitem}}</h4>
            <p class="visible-md">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum fermentum mi vel ultricies. Proin iaculis justo id mollis porttitor. Mauris aliquet, odio at varius porttitor, nunc ligula varius lacus, non blandit lorem erat a sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum fermentum mi vel ultricies. Proin iaculis justo id mollis porttitor. Mauris aliquet, odio at varius porttitor, nunc ligula varius lacus, non blandit lorem erat a sem.
            </p>
          </div>
          <hr class="visible-md"/>
        </div>
        <div class="col-md-2">
          <p>Mentioned positions...</p>
          <p>
            <button ng-repeat="position in positions" ng-class="{'btn-danger': position.OpenPL < 0}" class="btn btn-success" style="margin-top: 10px; margin-right: 20px; min-width: 150px;" data-toggle="modal" data-target="#myModal" data-symbol="{{position.Symbol}}">{{position.Symbol}} {{position.OpenPL.toFixed(2);}} <span class="glyphicon pull-right" ng-class="{'glyphicon-arrow-down': position.OpenPL < 0, 'glyphicon-arrow-up': position.OpenPL > 0}"></span></button>
          </p>
        </div>
        <div class="col-md-2">
          <p>Mentioned symbols...</p>
          <p>
            <button class="btn btn-primary" style="margin-top: 10px; margin-right: 20px; min-width: 90px;" data-toggle="modal" data-target="#myModal">T</button>
            <button class="btn btn-primary" style="margin-top: 10px; margin-right: 20px; min-width: 90px;" data-toggle="modal" data-target="#myModal">GE</button>
            <button class="btn btn-primary" style="margin-top: 10px; margin-right: 20px; min-width: 90px;" data-toggle="modal" data-target="#myModal">TWTR</button>
          </p>
        </div>
      </li>
    </ul>
  </div>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Place a trade</h4>
        </div>
        <div class="modal-body">
        <form accept-charset="UTF-8" action="/sample/order_send" class="form-inline" id="dynamic_form" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="wie8bQl983TqVADB2eWIx6J91TnmvlNJmlNSeHRak/8=" /></div>
          <div class='row-fluid'>
            <div class='span12'>
              <form>
                <input id="formSymbol" name="Symbol" placeholder="e.g. AAPL,MSFT,etc." type="text" value="" style="width: 100%" />
                <input id="formQuantity" name="Quantity" placeholder="" type="text" value="100" style="width: 100%" />
                <select id="formDuration" style="width: 100%">                  
                  <option value="DAY">DAY</option>
                  <option value="DAY+">DAY+</option>
                  <option value="GTC">GTC</option>
                  <option value="GTC+">GTC+</option>
                  <option value="GTD">GTD</option>
                  <option value="GTD+">GTD+</option>
                  <option value="FOK">FOK</option>
                  <option value="IOC">IOC</option>
                  <option value="OPG">OPG</option>
                  <option value="1 Min">1 Min</option>
                  <option value="3 Min">3 Min</option>
                  <option value="5 Min">5 Min</option>
                </select>
                <select id="formType" style="width: 100%">
                  <option value="market">market</option>
                  <option value="limit">limit</option>
                  <option value="stoplimit">stoplimit</option>
                  <option value="stopmarket">stopmarket</option>
                </select>
                <select ng-controller="AccountListCtrl" id="formAccount" style="width: 100%">
                  <option ng-repeat="account in accounts" value="{{account.AccountID}}">{{account.AccountID}} ({{account.Type}})</option>
                </select>     
                <select id="formAction" style="width: 100%">
                  <option value="buy">buy</option>
                  <option value="sell">sell</option>
                  <option value="sellshort">sellshort</option>
                  <option value="buytocover">buytocover</option>
                </select>
              </form>
            </div>  
          </div>
        </form>
        </div>
        <div class="modal-footer">
          <a id="send_order" href="#OT" class="btn btn-primary">Send order</a>
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript">

    $(document).ready(function(){

      TradingApp.init();

      $('#send_order').click(function(ev){

        var ticket = TradingApp.Orders.Ticket.ticket;

        ticket.Symbol = $('#formSymbol').val();
        ticket.Duration = $('#formDuration option:selected').val();
        ticket.Type = $('#formType option:selected').val();
        ticket.Account = $('#formAccount option:selected').val();
        ticket.Quantity = parseInt($('#formQuantity').val());
        ticket.Action = $('#formAction option:selected').val();

        TradingApp.Orders.Ticket.send(ticket);

        $('#myModal').modal('hide');

        return false;

      });
    });

</script>
</body>
</html>